.appointment-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

  .title {
    margin-top: 1.5rem;
    font-size: 2rem;
    font-weight: 500;
  }

  .sub-title {
    margin-top: 1rem;
    font-size: 1rem;
  }

  .text-field {
    width: 80%;
    margin: 15px;

    &:first-child {
      margin-top: 30px;
    }
    &:last-child {
      margin-bottom: 30px;
    }
  }

  .picker {
    display: flex;
    justify-content: flex-start;
    margin: 1rem;
    margin-left: 3.5rem;
  }

  .text-area {
    width: 80%;
    margin-bottom: 1rem;
  }

  .btn-grp {
    margin-top: auto;
    margin-bottom: 3rem;
    display: flex;
    width: 30vw;
    justify-content: flex-end;

    .btn {
      margin: 1rem;
      color: white;
    }

    .primary {
      background-color: #51d7ce;
    }

    .secondary {
      background-color: #ff1744;
    }
  }

  .input-d {
    display: none;
  }

  .upd {
    background-color: #51d7ce;
    color: white;
  }

  .date-picker {
    margin: 1rem;
  }
}

.modal-container {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  padding: 1rem 2rem 1rem 2rem;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 2rem;
}

.picker-group {
  display: flex;
  flex-direction: row;

  .file-name {
    margin-left: 1rem;
    font-size: 0.8rem;
  }
}
