.appointment-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 40vw;
  background-color: white;
  border-radius: 25px;
  padding: 1rem;

  .title {
    margin-top: 3rem;
    font-size: 3rem;
    margin-bottom: 2rem;
    font-weight: 500;
  }

  .text-field {
    width: 80%;
    margin: 15px;

    &:first-child {
      margin-top: 30px;
    }
    &:last-child {
      margin-bottom: 30px;
    }
  }

  .picker {
    display: flex;
    justify-content: flex-start;
    margin: 1rem;
    margin-left: 3.5rem;
  }

  .text-area {
    width: 80%;
    margin-bottom: 1rem;
  }

  .btn-grp {
    margin-top: auto;
    margin-bottom: 3rem;
    display: flex;
    width: 30vw;
    justify-content: flex-end;

    .btn {
      margin: 1rem;
      color: white;
    }

    .primary {
      background-color: #1de9b6;
    }

    .secondary {
      background-color: #ff1744;
    }
  }

  .input-d {
    display: none;
  }

  .upd {
    background-color: rgb(81, 215, 206);
    color: white;
  }

  .date-picker {
    margin: 1rem;
  }
}
