.patient-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 70vh;
  width: 40vw;
  background-color: white;
  border-radius: 25px;
  padding: 1rem;

  .title {
    margin-top: 4rem;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-weight: 500;
  }

  .text-field {
    width: 100%;
    margin: 15px;

    &:first-child {
      margin-top: 30px;
    }
    &:last-child {
      margin-bottom: 30px;
    }
  }

  .text-area {
    width: 95%;
    margin-bottom: 1rem;
  }

  .btn-grp {
    margin-top: auto;
    margin-bottom: 3rem;
    display: flex;
    width: 30vw;
    justify-content: flex-end;

    .btn {
      margin: 1rem;
      color: white;
    }

    .primary {
      background-color: #1de9b6;
    }

    .secondary {
      background-color: #ff1744;
    }
  }

  .imc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .text-field {
      margin-top: 30px;
    }
    .double {
      margin-top: 15px;
      margin-left: 0px;
      margin-right: 0px;
      width: 48%;
    }
  }
}
