.patients-list-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  width: 50vw;
  background-color: white;
  border-radius: 25px;
  padding: 1rem;

  .title {
    font-size: 3rem;
    margin-bottom: 2rem;
    font-weight: 500;
  }

  .table-container {
    display: flex;
    justify-content: center;
    width: 50vw;
    height: 60vh;
    background-color: white;
    border-radius: 14px;
  }

  .btn-grp {
    display: flex;
    width: 50vw;
    justify-content: flex-end;

    .btn {
      margin: 1rem;
      color: white;
    }

    .primary {
      background-color: rgb(28, 175, 28);
    }

    .secondary {
      background-color: #834bff;
    }
  }

  .MuiDataGrid-root {
    border-radius: 14px;
  }
}
