.list-main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

  .title {
    margin-top: 2rem;
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: 500;
    color: white;
  }

  .table-container {
    display: flex;
    justify-content: center;
    width: 50vw;
    height: 60vh;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 14px;
  }

  .btn-grp {
    display: flex;
    width: 50vw;
    justify-content: flex-end;

    .btn {
      margin: 1rem;
      color: white;
    }

    .primary {
      background-color: #51d7ce;
    }

    .secondary {
      background-color: #2196f3;
    }
  }

  .MuiDataGrid-root {
    border-radius: 14px;
  }
}
